.sunburst-viz .slice path {
  cursor: pointer;
}

.sunburst-viz text {
  font-family: sans-serif;
  font-size: 12px;
  dominant-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
  fill: #222;
}

.sunburst-viz text .text-contour {
  fill: none;
  stroke: white;
  stroke-width: 5;
  stroke-linejoin: 'round';
}

.sunburst-viz .main-arc {
  stroke: white;
  stroke-width: 1px;
  transition: opacity .4s;
}

.sunburst-viz .main-arc:hover {
  opacity: 0.85;
  transition: opacity .05s;
}

.sunburst-viz .hidden-arc {
  fill: none;
}

.sunburst-tooltip {
  display: none;
  position: absolute;
  max-width: 320px;
  white-space: nowrap;
  padding: 5px;
  border-radius: 3px;
  font: 12px sans-serif;
  color: #eee;
  background: rgba(0,0,0,0.65);
  pointer-events: none;
}

.sunburst-tooltip .tooltip-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
